---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro'; // Importamos el componente genérico
import StaysSelector from '../components/home/StaysSelector.astro';

// Importa la imagen que quieras usar para esta página
import habitacionsHero from '../assets/pages/rooms/torre-mejanell-3-persones.webp'; 

export const lang = 'ca';
export const slug = 'habitacions';
---

<Layout lang={lang} slug={slug} title="Habitacions | Castell de Mejanell">
  <main class=" text-[#1f1a17] overflow-x-hidden">
    
    <!-- Llamada al componente Hero reutilizable -->
    <Hero 
        tag="Estades"
        title="Habitacions"
        subtitle="Espais dissenyats per al descans, la calma i la desconnexió en plena natura."
        image={habitacionsHero}
    />

    <!-- Contenido de la página -->
    <div class="mx-auto max-w-5xl px-4 py-16 lg:px-6">
        <StaysSelector lang={lang}/>
        <p class="text-base text-[#6b5f56] mt-8">
            Per a grups més nombrosos, oferim la possibilitat d'allotjar fins a 18 persones gràcies als sofàs llit disponibles en habitacions seleccionades.
        </p>
    </div>
  </main>
</Layout>