---
export const lang = 'ca';
export const slug = '';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import MarqueeBar from '../components/home/MarqueeBar.astro';
import IntroStats from '../components/home/IntroStats.astro';
import StaysGrid from '../components/home/StaysGrid.astro';
import ExperiencesSection from '../components/home/ExperiencesSection.astro';
import ClosingCta from '../components/home/ClosingCta.astro';
import HomeSlider from '../components/home/HomeSlider.astro';
---


<Layout lang={lang} slug={slug} title="Torre de Mejanell | Escapada rural" description="Descobreix la nostra casa rural: una antiga masia transformada en un refugi de turisme rural on els somnis es barregen amb l'encant de la natura.">
	<main>
		<HeroSection />
		<IntroStats />
		<MarqueeBar />
		<HomeSlider />
		<StaysGrid />
		<!-- <ExperiencesSection />
		<ClosingCta /> -->
	</main>
</Layout>
